/* =========================================================
   28. CTA
========================================================= */

.cta-section {
    position: relative;

    padding: 130px 0;

    text-align: center;

    overflow: hidden;

    background:
        radial-gradient(
            circle at 50% 50%,
            rgba(255, 23, 68, 0.15),
            transparent 45%
        ),
        var(--bg-tertiary);
}

.cta-content {
    position: relative;

    z-index: 2;
}

.cta-content h2 {
    font-family: "Montserrat", sans-serif;

    font-size:
        clamp(
            45px,
            7vw,
            85px
        );

    line-height: 0.95;

    letter-spacing: -3px;
}

.cta-content > p:not(.section-label) {
    max-width: 550px;

    margin:
        25px auto 30px;

    color: var(--text-secondary);
}
