/* =========================================================
   26. GOOGLE REVIEWS
========================================================= */

.reviews-section {
    position: relative;

    width: 100%;
    text-align: left;

    padding: 20px 5%;

    overflow: hidden;

    background: 
    black
        
}


.reviews-content {
    margin-bottom: 4%;
    text-align: left;
}
